.encabezado{
    width: 45px;
    height: 55px;
    margin-top: 10px;
}
ion-content{
    --background: linear-gradient(to top, rgb(132, 179, 255) 0%, #fff 100%);
}

ion-item{
--background: transparentize($color: #000000, $amount: 0);
}